@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  background-color: rgb(245, 243, 237);
  color: #333;
  height: 100%;
  overflow-x: hidden;
}

.conocenos {
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
}
.conocenos img {
  max-width: 500px;
  height: 600px;
  align-items: center;
  margin-left: 35%;
  object-fit: cover;
  padding: 40px;
}
.conocenos .info {
  padding: 1rem;
  text-align: center;
  padding: 40px 20px;
  background-color: rgb(126, 168, 130);
}
.conocenos .info h4 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 1rem;
}
.conocenos .info h5 {
  font-size: 1.2rem;
  color: white;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  font-weight: normal;
}

.banner {
  display: block;
  text-align: center;
  background-color: rgb(126, 168, 130);
  color: white;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.navbar {
  background-color: rgb(218, 237, 192);
  font-family: "Julius Sans One", sans-serif;
  padding: 10px;
  margin-top: -18px;
}
.navbar .navbar-toggler {
  border: none;
  background-color: rgb(126, 168, 130);
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: rgb(126, 168, 130);
}
.navbar .navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar .nav-item {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.navbar .nav-item:hover {
  transform: translateY(-3px);
}
.navbar .nav-item .nav-link {
  color: rgb(41, 77, 48);
  text-decoration: none;
  font-weight: 600;
}
.navbar .nav-item .nav-link:hover {
  color: rgb(41, 77, 48);
}
.navbar .nav-item .nav-link em {
  font-style: normal;
  font-weight: bold;
  color: rgb(41, 77, 48);
}

.cart-icon {
  position: absolute;
  top: 55px;
  right: 20px;
}
.cart-icon img {
  width: 40px;
}

.titulo {
  background-image: url("../img/vecteezy_watercolor-green-and-golden-leaves-border-illustration_24399215.jpg");
  font-family: "Julius Sans One", sans-serif;
  color: rgb(41, 77, 48);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  text-align: center;
}
.boton-container .promo-button {
  background-color: rgb(126, 168, 130);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
}

.hero {
  text-align: center;
  padding: 60px 40px;
}
.hero h2 {
  font-size: 2rem;
  font-family: "Julius Sans One", sans-serif;
}
.hero h3 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}

.carousel-slide {
  position: relative;
  width: 100%;
  height: 600px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 600px;
  object-fit: contain;
}
.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  max-width: 50%;
}
.carousel-caption .boton-compra {
  display: inline-block;
  padding: 10px 20px;
  justify-content: center;
  background-color: rgb(248, 200, 80);
  color: white;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 45%;
  transition: background-color 0.3s;
}
.carousel-caption .boton-compra:hover {
  background-color: rgb(126, 168, 130);
  color: rgb(218, 237, 192);
}

.carousel-control-prev,
.carousel-control-next {
  position: relative;
  top: -50%;
  padding: 10px;
  color: white;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(126, 168, 130);
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.grid-productos .producto {
  background-color: rgb(218, 237, 192);
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.grid-productos .producto:hover {
  transform: translateY(-5px);
}
.grid-productos .producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.grid-productos .producto h3 {
  font-family: "Julius Sans One", sans-serif;
  color: #243632;
  font-size: 1.4rem;
  margin: 10px 0;
}
.grid-productos .producto p {
  font-family: "Julius Sans One", sans-serif;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.grid-productos .producto .boton-compra {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(248, 200, 80);
  color: rgb(41, 77, 48);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Julius Sans One", sans-serif;
  transition: background 0.3s;
}
.grid-productos .producto .boton-compra:hover {
  background-color: rgb(126, 168, 130);
  color: white;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  padding: 40px 20px;
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 5px;
  margin-top: -20px;
}

.cuidados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(218, 237, 192);
}
.cuidados img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.cuidados ul {
  list-style: none;
  padding: 0;
}
.cuidados ul li {
  margin-bottom: 2rem;
}
.cuidados ul li p {
  font-family: "Playfair Display", serif;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

main {
  padding: 2rem;
}
main h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.5rem;
  color: rgb(126, 168, 130);
  margin-bottom: 1rem;
  text-align: center;
}
main h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: rgb(64, 75, 79);
  margin-bottom: 1.5rem;
  text-align: center;
}
main .container {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}
main .container .row p {
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}
main .container .row p strong {
  font-family: "Julius Sans One", sans-serif;
}

.redes-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.redes-img a {
  display: block;
}
.redes-img img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: transform 0.3s ease;
  padding: 50px;
}
.redes-img img:hover {
  transform: scale(1.1);
}

.dudas {
  background-color: rgb(126, 168, 130);
  color: white;
  padding: 30px;
  text-align: center;
}
.dudas span {
  font-weight: bold;
  font-size: 1.2rem;
}
.dudas p {
  margin-top: 10px;
  font-size: 1.1rem;
}

footer .promo-envio {
  margin: 100px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}
footer .promo-envio .index {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .promo-envio .index img {
  width: 60px;
  margin-bottom: 10px;
}
footer .promo-envio .index span {
  display: block;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.ayuda {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  border-radius: 50%;
  padding: 10px;
}
.ayuda a {
  display: block;
}
.ayuda img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1199px) {
  .conocenos img {
    margin-left: 30%;
  }
}
@media screen and (max-width: 940px) {
  .conocenos img {
    margin-left: 25%;
  }
  .redes-img {
    gap: 10px;
  }
  .redes-img img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .conocenos img {
    margin-left: 20%;
  }
  footer .promo-envio {
    grid-template-columns: 1fr;
  }
  footer .promo-envio .index {
    flex-direction: column;
  }
}
@media screen and (max-width: 625px) {
  body {
    width: 100%;
  }
  .cart-icon {
    top: 70px;
    right: 10px;
  }
  .cart-icon img {
    width: 40px;
  }
  .titulo {
    width: 100vw;
    max-width: 100%;
    font-size: 6rem;
  }
  .navbar {
    margin-top: 0;
  }
  .conocenos img {
    margin-left: 15%;
  }
  .ayuda {
    bottom: 10px;
    right: 10px;
  }
  .ayuda img {
    width: 50px;
    height: 50px;
  }
  .texto-redes h1 {
    font-size: 1rem;
  }
  .redes-img img {
    width: 150px;
    height: 150px;
    padding: 30px;
  }
}
@media screen and (max-width: 515px) {
  body {
    width: 100%;
  }
  .banner {
    padding: 5px;
    font-size: 15px;
  }
  .cart-icon {
    top: 55px;
  }
  .titulo {
    width: 100vw;
    max-width: 100%;
    font-size: 5rem;
  }
  .boton-container {
    margin-top: -80px;
  }
  .boton-container .promo-button {
    padding: 10px 15px;
    font-size: 1rem;
  }
  .hero {
    text-align: center;
    padding: 50px 30px;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero h3 {
    font-size: 1rem;
  }
  .carousel-slide {
    height: 400px;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item {
    height: 400px;
  }
  .carousel-item img {
    height: 400px;
  }
  .conocenos img {
    margin-left: 5%;
  }
}
@media screen and (max-width: 463px) {
  .titulo {
    width: 100vw;
    max-width: 100%;
    font-size: 4rem;
    height: 400px;
  }
  .carousel-caption {
    font-size: 1rem;
  }
  .carousel-caption .boton-compra {
    margin-left: 40%;
  }
  .conocenos img {
    margin-left: 3%;
    width: 400px;
    height: 400px;
  }
  .info h4 {
    font-size: 1rem;
  }
  .info h5 {
    font-size: 0.5rem;
  }
  .redes-img img {
    width: 100px;
    height: 100px;
    padding: 20px;
  }
}
@media screen and (max-width: 422px) {
  .titulo {
    font-size: 3rem;
    height: 300px;
  }
  .carousel-caption .boton-compra {
    margin-left: 35%;
  }
  .conocenos img {
    margin: 0;
  }
}
@media screen and (max-width: 412px) {
  body {
    width: 100%;
  }
  .banner {
    padding: 5px;
  }
  .cart-icon {
    top: 55px;
  }
  .boton-container {
    margin-top: -50px;
  }
  .boton-container .promo-button {
    padding: 5px 10px;
    font-size: 1rem;
  }
  .hero {
    padding: 40px 20px;
  }
  .hero h3 {
    font-size: 1rem;
  }
  .conocenos img {
    width: 300px;
    height: 400px;
    margin: 45px;
    margin-top: -50px;
  }
  footer .promo-envio {
    margin: 90px;
  }
}
@media screen and (max-width: 405px) {
  body {
    width: 100%;
  }
  .conocenos img {
    width: 300px;
    height: 400px;
    margin: 40px;
    margin-top: -50px;
  }
  footer .promo-envio {
    margin: 80px;
  }
  .info {
    padding: 30px 10px;
  }
  .info h4 {
    font-size: 1.5rem;
  }
  .info h5 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 395px) {
  .banner {
    font-size: 16px;
  }
  .hero {
    padding: 10px;
  }
  .hero h2 {
    font-size: 1.5rem;
  }
  .hero h3 {
    font-size: 1rem;
  }
  .hero .carousel-slide {
    height: 200px;
  }
  .hero .carousel-item {
    height: 200px;
  }
  .hero .carousel-item img {
    height: 200px;
  }
  .hero .carousel-caption .boton-compra {
    padding: 5px 10px;
    font-size: 10px;
  }
  .info {
    padding: 20px 10px;
  }
  .info h4 {
    font-size: 1rem;
  }
  .info h5 {
    font-size: 1rem;
  }
  footer .promo-envio .index img {
    width: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 395px) {
  .banner {
    font-size: 14px;
  }
  .hero {
    padding: 8px;
  }
  .hero h2 {
    font-size: 1.2rem;
  }
  .hero h3 {
    font-size: 1rem;
  }
  .info {
    padding: 15px 5px;
  }
  h2 {
    padding: 30px 10px;
    font-size: 2rem;
  }
  h3 {
    font-size: 4px;
  }
  .cuidados {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(218, 237, 192);
  }
  .cuidados img {
    width: 250px;
    height: 400px;
  }
  .cuidados ul li {
    margin-bottom: 1rem;
  }
  .cuidados ul li p {
    line-height: 1;
    font-size: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
