@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body  {
        font-family: "Poppins", serif;
}

/*INDEX*/

/*banner 10%OFF*/

section .banner {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;  
    text-align: center;
    font-size: 16px;
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.banner {
    color: white;
    background-color: #005c99;
    text-decoration: none;
    font-weight: bold;
}

/*elige tu producto fav*/

.promo-button {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #005c99; 
    border: 2px solid rgba(255, 255, 255, 0); 
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    margin: 20px auto;
    position: relative;
}

.promo-button:hover {
    background-color: #005c99; 
    color: white;
}
.promo-button  {
    color: white;
    text-decoration: none !important;
    background-color: #005c99; 
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #005c99;
    border-radius: 10px;
    display: flex;
    text-align: center;
    position: absolute;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
    bottom: 100px;
    left: 40%;
    transition: transform 0.2s ease-in-out;
}

.promo-button:hover,
.promo-button:focus {
color: white;
text-decoration: none !important; 
background-color: #005c99;
transform: scale(1.05);
transform-origin: center;
}
.contenedor-boton {
color: white;
text-decoration: none !important;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

/*menu*/

.menu { 
    background-color:#0072be;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: rgb(245, 244, 242);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease ;
}
.menu ul li a:hover {
    color:#005c99;
}


/*carrito*/

.cart-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 100%;
    cursor: pointer;
    padding-top: 75px;
    z-index: 2000;
}

.cart-icon img {
    width: 100%;
    height: auto;
}

/*encabezado*/

body{
    background-color: rgb(245, 244, 242)
}
header { 
    background-color:rgb(245, 244, 242);
    display: flex;
}

/*titulo*/

body section header h1 {
    background-image: url("../img/logo.jpg");
    width: 100%;
    height: 600px;
    text-align: center 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 40%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 100px;
    color: #005c99;
    position: relative;
}


/*contenido principal*/
.hero {
    width: 100%;
    display: block;
    text-align: center;
}

.hero h2 {
    margin-top: 20px;
    font-size: 30px;
    font-style: bold;
    color:#005c99;
    text-align: center;
}
.hero h3 {
    font-size: 25px;
    color:#0072be;
    font-style: bold;
    text-align: center;
}

/*imagenes*/

.grid-galeria {
    width: 100%;
    margin-top: 10px;
/*activar grilla*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 20px;
    object-fit: cover;
    margin-left: 10px;
}

.grid-img img {
    width: 100%;
    height: 100%;
}

/*comprar*/

.boton-azul {
    color:white;
    background-color: #005c99;
    border: 2px solid #005c99;
    text-align: center;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    box-sizing: border-box;
    bottom: 20px;

}
.boton-azul:hover, .boton-azul:focus {
    text-decoration: none !important; 
    color: white; 
}

.boton-azul a {
    text-decoration: none !important;
    color: white !important; 
}

/*texto productos grilla*/
section div p {
    font-size: 20px;
    color: #005c99;
    text-align: center; 
    font-family: serif;
}

/*google maps*/

.location-container{
    display:flex;
    align-items: center;
    gap: 20px;
    padding-top: 150px;
    justify-content: center;
    margin-left: 28%;
}

.mapa {
    flex: 3;
    width: 40%;
    height: 40%;
    max-width: 100%;
    margin-left: 15%;
}

/*textos debajo del mapa*/

.location {
    flex: 1;
    text-align: center;
    margin-top: 0%;
    padding-top: 0%;
}

.location h4 {
    color: #005c99;
    font-size: 20px;    
    margin: 0;
    margin-top: 0%;
    padding-top: 0%;
}

.location h5{
    color:#0072be;
    font-size: 20px;
    margin: 10px;
    padding-top: 0;
}

/*footer*/


.ayuda {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px;
    height: 60px;
}

.ayuda img {
    width: 60px; 
    height: auto; 
}

/*pages: productos*/

/*contenido principal*/

/*titulos*/

main section h1 {
    color: #005c99;
    text-align: center;
    padding: 15px;
    font-size: 50px;
}

main section h2 {
    color:#1173b4;
    text-align: center;
    padding: 15px;
    font-size: 40px;
}

/*grilla productos*/

.grid-productos {
    width: 80%;
    margin-top: 10px;
/*activar grilla*/
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat (6 1fr 3 1fr);
    gap: 150px;
    object-fit: cover;
    margin: auto;
    text-align: center;
}

.grid-productos img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    text-align: center;
}

/*pages: redes*/

.texto-redes h1 {
    color: #005c99;
    text-align: center;
    font-size: 30px;
}

.redes-img {
    width: 20%;
    margin-top: 10px;
/*activar grilla*/
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
    gap: 20px;
    object-fit: cover;
    margin: auto;
    justify-content: center;
}

.redes-img img { 
    width: 100%;
    height: 100%;
}

/*pages: cuidados*/

/*subtitulo*/
.subtitulo {
    background-color: rgb(245, 244, 242);
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.subtitulo p {
    text-align: center;
}

/*cuidados*/
.cuidados {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/*plantas*/
.planta {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    text-align: center;
}

.planta img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*cuidados-lista*/
.planta ul {
    text-align: left;
    padding: 0;
}

.planta li {
    list-style: none;
    padding: 5px 0;
}

/*dudas*/
.dudas {
    text-align: center;
    padding: 20px;
    background-color:#1173b4;
    border-radius: 10px;
    margin: 20px;
    color:rgb(245, 244, 242) ;
}

.dudas span {
    color: rgb(245, 244, 242) ;
}

.dudas p {
    text-align: center;
}


/*pages: nosotros/quienes somos*/

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*portada*/
main img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}

/*Título "¿Quiénes somos?"*/
main span {
    font-size: 28px;
    font-weight: bold;
    color:#005c99;
    display: block;
    margin-bottom: 15px;
}

/*párrafo descriptivo*/
.nosotros-texto {
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
    margin: 0 20px;
}

.nosotros-texto p {
    text-align: justify ;
}

/*resaltador*/
main p strong {
    color:#0072be;
}