@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Variables de colores
$primary-color: rgb(126, 168, 130);
$secondary-color: rgb(64, 75, 79);
$third-color: rgb(248, 200, 80);
$fourth-color: rgb(218, 237, 192);
$fifth-color: rgb(41, 77, 48);
$accent-color: #243632;
$text-color: #333;

// Configuración de fuentes
$main-font: 'Julius Sans One', sans-serif;
$secondary-font: 'Playfair Display', serif;

body {
    font-family: $secondary-font;
    background-color: rgb(245, 243, 237);
    color: $text-color;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

// Banner de oferta
.banner {
    display: block;
    text-align: center;
    background-color: $primary-color;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: $secondary-font;
    font-weight: bold;
}

// Barra de navegación
.navbar {
    background-color: $fourth-color;
    font-family: $main-font;
    padding: 10px;
    margin-top: -18px;
    .navbar-toggler {
        border: none;
        background-color: $primary-color;
        .navbar-toggler-icon {
            background-color: $primary-color;
        }
    }
    .navbar-nav {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .nav-item {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-3px);
        }
        .nav-link {
            color: $fifth-color;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                color: $fifth-color; 
            }
            em {
                font-style: normal;
                font-weight: bold;
                color: $fifth-color;
            }
        }
    }
}

// Carrito de compras
.cart-icon {
    position: absolute;
    top: 55px;
    right: 20px;
    img {
        width: 40px;
    }
}

// Título principal
.titulo {
    background-image: url("../img/vecteezy_watercolor-green-and-golden-leaves-border-illustration_24399215.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    font-family: $main-font;
    color: $fifth-color;
}

// Botón de promoción
.boton-container {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    text-align: center;
    .promo-button {
        background-color: $primary-color;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 1.2rem;
        border-radius: 5px;
    }
}

// Sección Hero
.hero {
    text-align: center;
    padding: 60px 40px;
    h2 {
        font-size: 2rem;
        font-family: $main-font;
    }
    h3 {
        font-size: 1.5rem;
        font-family: $secondary-font;
    }
}

// Estilos del carrusel
$carousel-height: 600px;
.carousel-slide {
    position: relative;
    width: 100%;
    height: $carousel-height;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: $carousel-height;
    object-fit:contain;
    img {
        width: 100%;
        height: $carousel-height;
        object-fit: contain;
    }
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    max-width: 50%;
    .boton-compra {
        display: inline-block;
        padding: 10px 20px;
        justify-content: center;
        background-color: $third-color;
        color: white;
        font-family: $main-font;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 45%;
        transition: background-color 0.3s;
        &:hover {
            background-color: $primary-color;
            color: $fourth-color;
        }
    }
}
.carousel-control-prev,
.carousel-control-next {
    position: relative;
    top: -50%;
    padding: 10px;
    color: white;
    border: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: $primary-color;
}

// Sección de info
// Estilo para la sección de "conocenos"
.conocenos {
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    
    // Estilo para la imagen
    img {
        max-width: 500px;
        height: 600px;
        align-items: center;
        margin-left: 35%;
        object-fit: cover; 
        padding: 40px;
    }
    // Estilo para la información de la ubicación
    .info {
        padding: 1rem;
        text-align: center;
        padding: 40px 20px;
        background-color: $primary-color;
        h4 {
            font-family: $main-font;
            font-size: 2.5rem;
            color: white;
            margin-bottom: 1rem;
        }
        h5 {
            font-size: 1.2rem;
            color: white;
            font-family: $secondary-font;
            margin-bottom: 1rem;
            font-weight: normal;
        }
    }
}
// Sección envíos, tarjetas, retiros - Pie de página con WhatsApp
footer .promo-envio {
    margin: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    .index {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            width: 60px;  
            margin-bottom: 10px;  
        }
        span {
            display: block;
            font-size: 16px;
            font-family: $secondary-font;
            font-weight: bold;
            color: #333;
            margin: 5px 0;  
        }
    }
}
.ayuda {
    position: fixed;
    bottom: 30px;  
    right: 30px;   
    z-index: 1000;  
    border-radius: 50%;
    padding: 10px;
    a {
        display: block;
    }
    img {
        width: 50px;  
        height: 50px;
    }
}

//PAGES: PRODUCTOS

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    .producto {
        background-color: $fourth-color;
        border-radius: 12px;
        padding: 15px;
        text-align: center;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-5px);
        }
        img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
        h3 {
            font-family: $main-font;
            color: $accent-color;
            font-size: 1.4rem;
            margin: 10px 0;
        }
        p {
            font-family: $main-font;
            color: $text-color;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .boton-compra {
            display: inline-block;
            text-decoration: none;
            background-color: $third-color;
            color: $fifth-color;
            padding: 10px 15px;
            border-radius: 8px;
            font-size: 1rem;
            font-weight: bold;
            font-family: $main-font;
            transition: background 0.3s;
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }
}

//PAGES: CUIDADOS

h2 {
    font-family: $main-font;
    text-align: center;
    padding: 40px 20px;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
h3 {
    font-family: $secondary-font;
    text-align: center;
    font-size: 5px;
    margin-top: -20px;
}

// Estilos generales para la sección de cuidados
.cuidados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1rem; 
    padding: 1rem;
    background-color: $fourth-color; 

    img {
        width: 100%; 
        height: auto;
        object-fit: cover; 
        border-radius: 8px; 
        margin-bottom: 1rem;
    }
    ul {
        list-style: none; 
        padding: 0;
        li {
            margin-bottom: 2rem;
            p {
                font-family: $secondary-font; // Fuente para el texto principal
                color: $text-color;
                line-height: 1.6; 
                text-align:center; 
            }
        }
    }
}

//PAGES: NOSOTROS

main {
    padding: 2rem;
    h1 {
        font-family: $main-font; 
        font-size: 2.5rem;
        color: $primary-color;
        margin-bottom: 1rem;
        text-align: center;
    }
    h2 {
        font-family: $secondary-font; 
        font-size: 2rem;
        color: $secondary-color;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 1rem;
            .row p {
                font-family: $secondary-font; 
                font-size: 1.1rem;
                color: $text-color;
                line-height: 1.6;
                text-align: justify;
                strong {
                font-family: $main-font; 
            }
        }
    }
}

//PAGES: REDES

.redes-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;  
    justify-items: center;  
    align-items: center;  
    
    a {
        display: block;  
    }

    img {
        width: 300px;  
        height: 300px; 
        object-fit: contain; 
        transition: transform 0.3s ease; 
        padding: 50px ;
    }

    img:hover {
        transform: scale(1.1);  
    }
}

// Sección de dudas
.dudas {
    background-color: $primary-color;
    color: white;
    padding: 30px;
    text-align: center;

        span {
            font-weight: bold;
            font-size: 1.2rem;
    }

        p {
            margin-top: 10px;
            font-size: 1.1rem;
    }
}

//MEDIA QUERIES 

@media screen and (max-width: 1199px) {
    // Estilo para la imagen de ubicación
    .conocenos {
        img {
            margin-left: 30%;
        }
    }
}

@media screen and (max-width: 940px){
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            margin-left: 25%;
        }
    }
.redes-img {
    gap: 10px;   
        img {
            width: 200px;  
            height: 200px; 
        }   
    }
}




@media screen and (max-width: 767px) {
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            margin-left: 20%;
        }
    }
    footer .promo-envio {
        grid-template-columns: 1fr;
        .index {
            flex-direction: column;
        }
    }
}

@media screen and (max-width:625px) {
    body {
        width: 100%;
    }
    // Carrito de compras
    .cart-icon {
        top: 70px;
        right: 10px;
        img {
        width: 40px;
        }
    }
    // Título principal
    .titulo {
        width: 100vw;
        max-width: 100%;
        font-size: 6rem;

    }
    //Bara de navegación
    .navbar {
        margin-top: 0;
    }

    .conocenos {
        img {
            margin-left: 15%;
        }
    }
    //Ïcono de WhatsApp
    .ayuda {
        bottom: 10px;  
        right: 10px;   
        img {
            width: 50px;  
            height: 50px;
        }
    }
    //Redes
    .texto-redes {
        h1 {
            font-size: 1rem;
        }
    }
    .redes-img {
        img {
            width: 150px;  
            height: 150px; 
            padding: 30px ;
        }
    }
}

@media screen and (max-width:515px){
    body {
        width: 100%;
    }
    //Banner
    .banner {
        padding: 5px;
        font-size: 15px;
    }
    //Carrito de compras
    .cart-icon {
        top: 55px;
    }
    //Título principal
    .titulo {
        width: 100vw;
        max-width: 100%;
        font-size: 5rem;
    }
    // Botón de promoción
    .boton-container {
        margin-top: -80px;
        .promo-button {
            padding: 10px 15px;
            font-size: 1rem;
        }
    }   
    .hero {
        text-align: center;
        padding: 50px 30px;
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
    // Estilos del carrusel

    .carousel-slide {
        height: 400px;
    }
    .carousel-inner {
        height: 100%;
    }
    .carousel-item {
        height: 400px;
        img {
            height: 400px;
        }
    }
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            margin-left: 5%;
        }
    }
}

@media screen and (max-width: 463px){
    //Título principal
    .titulo {
        width: 100vw;
        max-width: 100%;
        font-size: 4rem;
        height: 400px;
    }
    // Estilos del carrusel
    .carousel-caption {
        font-size: 1rem;
        .boton-compra {
            margin-left: 40%;
        }
    }
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            margin-left: 3%;
            width: 400px;
            height: 400px;
        }
    }
    .info {
        h4 {
            font-size: 1rem;
        }
        h5 {
            font-size: 0.5rem;
        }
    }
    .redes-img {
        img {
            width: 100px;  
            height: 100px; 
            padding: 20px ;
        }
    }
}


@media screen and (max-width: 422px){
    //Título principal
    .titulo {
        font-size: 3rem;
        height: 300px;
    }
    // Estilos del carrusel
    .carousel-caption {
        .boton-compra {
            margin-left: 35%;
        }
    }
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            margin:0;
        }
    }
}


@media screen and (max-width: 412px){
    body {
        width: 100%;
    }
    // Banner de oferta
    .banner {
        padding: 5px;
    }
    
    // Carrito de compras
    .cart-icon {
        top: 55px;
    }
    
    // Botón de promoción
    .boton-container {
        margin-top: -50px;
        .promo-button {
            padding: 5px 10px;
            font-size: 1rem;
        }
    }
    
    // Sección Hero
    .hero {
        padding: 40px 20px;
        h3 {
            font-size: 1rem;
        }
    }
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            width: 300px;
            height: 400px;
            margin:45px;
            margin-top: -50px;
        }
    }
    // Sección envíos, tarjetas, retiros - Pie de página con WhatsApp
    footer .promo-envio {
        margin: 90px 
    }
}

@media screen and (max-width: 405px){
    body {
        width: 100%;
    }
    //Estilo para la imagen de ubicación
    .conocenos {
        img {
            width: 300px;
            height: 400px;
            margin:40px;
            margin-top: -50px;
        }
    }
    // Sección envíos, tarjetas, retiros - Pie de página con WhatsApp
    footer .promo-envio {
        margin: 80px 
    }
    // Estilo para la información de la ubicación
    .info {
        padding: 30px 10px;
        h4 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width:395px) {
    // Banner de oferta
    .banner {
        font-size: 16px;
        }
    // Sección Hero
    .hero {
        padding: 10px;
    h2 {
        font-size: 1.5rem;
        }
    h3 {
        font-size: 1rem;
        }
        // Estilos del carrusel
        .carousel-slide {
            height: 200px;
            }
        .carousel-item {
        height: 200px;
            img {
                height: 200px;
                }
            }
        .carousel-caption {
            .boton-compra {
            padding: 5px 10px;
            font-size: 10px;
            }
        }
    }
    // Sección de info
    // Estilo para la información de la ubicación
    .info {
        padding: 20px 10px;
        h4 {
            font-size: 1rem;
        }
        h5 {
            font-size: 1rem;
        }
    }
// Sección envíos, tarjetas, retiros - Pie de página con WhatsApp
    footer .promo-envio { 
        .index {
            img {
                width: 30px;  
                margin-bottom: 10px;  
            }
        }
    }
}
