// Sección de info
// Estilo para la sección de "conocenos"
.conocenos {
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    // Estilo para la imagen
    img {
        max-width: 500px;
        height: 600px;
        align-items: center;
        margin-left: 35%;
        object-fit: cover; 
        padding: 40px;
    }
    // Estilo para la información de la ubicación
    .info {
        padding: 1rem;
        text-align: center;
        padding: 40px 20px;
        background-color: $primary-color;
        h4 {
            font-family: $main-font;
            font-size: 2.5rem;
            color: white;
            margin-bottom: 1rem;
        }
        h5 {
            font-size: 1.2rem;
            color: white;
            font-family: $secondary-font;
            margin-bottom: 1rem;
            font-weight: normal;
        }
    }
}
