// Banner de oferta
.banner {
    display: block;
    text-align: center;
    background-color: $primary-color;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-family: $secondary-font;
    font-weight: bold;
}

// Barra de navegación
.navbar {
    background-color: $fourth-color;
    font-family: $main-font;
    padding: 10px;
    margin-top: -18px;
    .navbar-toggler {
        border: none;
        background-color: $primary-color;
        .navbar-toggler-icon {
            background-color: $primary-color;
        }
    }
    .navbar-nav {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .nav-item {
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-3px);
        }
        .nav-link {
            color: $fifth-color;
            text-decoration: none;
            font-weight: 600;
            &:hover {
                color: $fifth-color; 
            }
            em {
                font-style: normal;
                font-weight: bold;
                color: $fifth-color;
            }
        }
    }
}

// Carrito de compras
.cart-icon {
    position: absolute;
    top: 55px;
    right: 20px;
    img {
        width: 40px;
    }
}



// Sección de info
// Estilo para la sección de "conocenos"
.conocenos {
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    
    // Estilo para la imagen
    img {
        max-width: 500px;
        height: 600px;
        align-items: center;
        margin-left: 35%;
        object-fit: cover; 
        padding: 40px;
    }
    // Estilo para la información de la ubicación
    .info {
        padding: 1rem;
        text-align: center;
        padding: 40px 20px;
        background-color: $primary-color;
        h4 {
            font-family: $main-font;
            font-size: 2.5rem;
            color: white;
            margin-bottom: 1rem;
        }
        h5 {
            font-size: 1.2rem;
            color: white;
            font-family: $secondary-font;
            margin-bottom: 1rem;
            font-weight: normal;
        }
    }
}
